*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background-color: #00050D;
    margin: 0px;
    padding: 0px;
}

nav{
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 5;
    position: fixed;
}

.nav-bar{
    width: 80%;
    height: 70px;
    backdrop-filter: blur(14px);
    background: rgba(0, 0, 0, 0.5);
    padding: 0px 8px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav-bar a{
    text-decoration: none;
    padding: 0px 10px;
    color: rgb(255, 255, 255);
    font-weight: 900px;
    font-size: 19px;
}

.nav-bar a:hover {
    padding: 10px 20px;
    background-color: white;
    border-radius: 8px;
    color: black;
}


.right-nav a:hover{
    padding: 0px;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join{
    background-color: #187DCC;
    border-radius: 8px;
    height: 33px;
    width: 94px;
    text-align: center;
    align-content: center;
    cursor: pointer;
}

.image{
    height: 20px;
    width: 100px;
    margin-right: 25px;
}

.left-nav,
.right-nav{
    display: flex;
    align-items: center;
}

.section-1{
    height: 100vh;
    width: 100%;
    z-index: 1;
    position: relative;
    left: 40px;
}

.trailar{
  position: relative;
 
}

.con{
    position: absolute;
    top: 640px;
    right: 80px;
}

 .trailar{
    height: 90vh;
    width: 99%;
    background-image: url(./img/thama2.jpg);
    color: white;
    position: relative;
    top: 40px;
}

.trailar p{
    font-size: 25px;
    position: relative;
    top: -5px;
}

.membership p{
    font-size: 20px;
    position: relative;
    top: 775px;
    right: 330px;
    display: flex;
    justify-content: end;
   
}

.ri-shopping-bag-4-fill{
    font-size: 22px;
    color: yellow;
    position: relative;
    right: 10px;
   
}

.one{
    font-size: 22px;
    font-weight: 700;
    color: rgb(152, 255, 152);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    position: relative;
    top: 5px;
}

.trailar button{
    height: 70px;
    width: 130px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(100%);
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    top: -30px;
}

.trailar button:hover{
    padding: 8px 8px;
    background-color: white;
    border-radius: 8px;
    color: black;
   
}

.trailar a{
    padding: 15px 15px;
    background-color: #706e6e;
    backdrop-filter: blur(100%);
    border-radius: 100px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-decoration: none;
    position: relative;
    top: -40px;
}


.trailar a:hover{
    background-color: white;
    color: black;
    padding: 23px 23px;
}

.prime-logo{
   height: 30px;
   color: #0072F9;
   position: relative;
   top: 120px;
   left: 1100px;
}

.ri-arrow-right-wide-line{
    color: white;
    font-size: 50px;
    position: relative;
    top: 400px;
    left: 1756px;
}

.ri-arrow-left-wide-fill{
    color: white;
    font-size: 50px;
    position: relative;
    top: 400px;
    right: 100px;
}

.ri-circle-fill{
    height: 15px;
    position: relative;
    top: 750px;
    left: 750px;
}

.section-2{
    height: 40vh;
    width: 100%;
    position: relative;
    bottom: 30px;
    color: white;
    font-size: 26px;
    font-weight: 700;
    display: flex;
    flex-direction: r;
    left: 40px;
}

.more{
    position: relative;
    left: 50px;
    color: white;
}

.img-1{ 
    height: 200px;
    width: 300px;
    border-radius: 10px;
    position: relative;
    top: 50px;
    right: 250px;
    background-image: url(./img/movie-1.jpg); 
    background-size: cover; 
}