*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background-color: #00050D;
    margin: 0px;
    padding: 0px;
}

nav{
    display: flex;
    justify-content: center;
   
}

.nav-bar{
    height: 70px;
    position: fixed;
    backdrop-filter: blur(14px);
    background: rgba(0, 0, 0, 0.5);
    padding: 0px 8px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav-bar a{
    text-decoration: none;
    padding: 0px 10px;
    color: rgb(255, 255, 255);
    font-weight: 900px;
    font-size: 19px;
}

.nav-bar a:hover {
    padding: 9px 19px;
    background-color: white;
    border-radius: 8px;
    color: black;
}

.lenguage-button:hover{
    padding: 10px 20px;
    background-color: white;
    border-radius: 8px;
    color: black;
}

.lenguage-button:hover .language-box{
    visibility: visible;
}

.lenguage-button{
    padding: 0px 10px;
    color: rgb(255, 255, 255);
    font-weight: 900px;
    font-size: 19px;
    cursor: pointer;
     
}

.language-box{
    visibility: hidden;
    color: rgb(255, 255, 255);
    position: absolute;
    height: 400px;
    width: 500px;
    background: url(./img/section-1.jpg);
    
    border: 1px solid gray;
    border-radius: 10px;
    top: 80px;
    right: 60px;
    display: grid ;
    grid-template-columns: repeat(3,150px);
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.language-box li{
    text-decoration: none;
    list-style: none;
}

.right-nav a:hover{
    padding: 0px;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join{
    background-color: #187DCC;
    border-radius: 8px;
    height: 33px;
    width: 94px;
    text-align: center;
    align-content: center;
    cursor: pointer;
}

.image{
    height: 20px;
    width: 100px;
    margin-right: 25px;
}

.left-nav,
.right-nav{
    position: relative;
    display: flex;
    align-items: center;
}


.section-1{
    margin-top: 70px;
    background-size: cover;
    height: 90vh;
    width: 100%;
    background-image: url(./img/section-1.jpg);
    color: white;
}

.section-contant{
    position: relative;
    top: 90px;
    left: 60px;
    line-height: 1.3;
}

.section h1{
    font-size: 40px;
}

.section p{
    font-size: 20px;
}

.section button{
    height: 60px;
    width: 190px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    transition: transform 0.5s;
}

.section button:hover{
    cursor: pointer;
    transform: scale(1.08);
}

.section-2{
    margin-top: -24px;
    color: white;
    background-size: cover;
    height: 90vh;
    width: 100%;
    background-image: url(./img/section-2.jpg);
}

.section-3{
    display: flex;
    margin-top: 10px;
    color: white;
    background-size: cover;
    height: 73vh;
    width: 100%;
}

.section-3-left{
    width: 50%;
}
.section-3-right{
    width: 50%;
}

.section-3-right img{
    height: 200px;
    border-radius: 10px;
    padding: 3px ;
}

.section-3-right img:hover{
    box-shadow: 3px 3px 30px 3px grey;
}

.section-3-left h1{
    position: relative;
    top: 100px;
    left: 60px;
    font-size: 50px;
}
.section-3-left p{
    position: relative;
    top: 100px;
    left: 60px;
    font-size: 18px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303030;
    padding: 20px 0px;
}

footer .footer-value img{
   height: 35px;
   position: relative;
   left: 150px;
}

footer .footer-value a{
    text-decoration: none;
    color: #85DFFE;
    font-size: 18px;
    font-weight: 400;
    margin: 0px 5px;
}

footer .footer-value p{
    text-decoration: none;
    color: #bac1c4;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    left: 15px;
}