*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background-color: black;
    margin: 0px;
    padding: 0px;
}

nav{
    display: flex;
    justify-content: center;
   
}

.nav-bar{
    position: fixed;
    backdrop-filter: blur(14px);
    background: rgba(0, 0, 0, 0.5);
    padding: 18px 8px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav-bar a{
    text-decoration: none;
    padding: 0px 10px;
    color: rgb(255, 255, 255);
    font-weight: 600px;
}

.join{
    background-color: #187DCC;
    border-radius: 5px;
    height: 25px;
    width: 90px;
}

.image{
    height: 20px;
    width: 100px;
    margin-right: 25px;
}

.left-nav,
.right-nav{
    display: flex;
    align-items: center;
}


.section-1{
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-image: url(./img/section-1.jpg);
}
.section-2{
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-image: url(./img/section-2.jpg);
}

.p{
    color: white;
    font-size: 50px;
}