*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    z-index: 5;
    background-color: black;
    
    
}
.section-1{
    position: relative;
    bottom: 20px;
    height: 100vh;
    width: 100%;
    background-image: url(./img/backgraund.jpg);
    
}

.section-1 .black-bg{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}


.left-nav img{
    height: 50px;
    position: relative;
    top: 50px;
    left: 150px;
    
}

.right-nav .language{
    display: flex;
    justify-content: right;
    align-content: center;
    position: relative;
    top: 10px;
    left: 80%;
    height: 30px;
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 3px;
}

.right-nav .sign-in{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 20px;
    left: 87%;
    height: 30px;
    width: 90px;
    background-color: #e50914;
    color: white;
    border-radius: 3px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.right-nav .sign-in:hover{
    background-color: #9c0008;
    transition: calc(0.5s);
}

.con p{
    font-size: 70px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Times, serif;
    color: white;
    position: relative;
    top: 250px;
    display: flex;
    justify-content: center;
    justify-items: center;
    
}

.sub{
    color: white;
    font-size: 25px;
    position: relative;
    top: 270px;
    display: flex;
    justify-content: center;
    justify-items: center;

}

.member{
    color: white;
    font-size: 20px;
    position: relative;
    top: 295px;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.email{
    height: 50px;
    width: 340px;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    left: 650px;
    top: 310px;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid white;
    font-style: normal;
    color: white;
    border-radius: 5px;
    
}

.start{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 1000px;
    top: 260px;
    height: 50px;
    width: 220px;
    background-color: #e50914;
    color: white;
    border-radius: 3px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}

.ri-arrow-right-wide-line{
    position: relative;
    left: 25px;
    font-weight: 400;
}

.start:hover{
    background-color: #9c0008;
    transition: calc(0.5s);
}

.bor{
    height: 140px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: relative;
    bottom: 95px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top: 3px solid #BF235C;
}

.bor p{
    font-size: 45px;
    font-weight: 600;
    color: white;
    position: relative;
    top: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left: 120px;
}

.movies{
    height: 40vh;
    width: 100%;
    display: flex;
}

.img{
    height: 300px;
    width: 220px;
    position: relative;
    left: 130px;
    margin: 30px;
    cursor: pointer;
}

.img:hover{
    height: 340px;
    width: 270px;
}

.num1{
    font-size: 180px;
    height: 200px;
    position: relative;
    right: 1510px;
    top: 150px;
    color: white;
}
.num2{
    font-size: 180px;
    height: 200px;
    position: relative;
    right: 1330px;
    top: 150px;
    color: white;
}
.num3{
    font-size: 180px;
    height: 200px;
    position: relative;
    right: 1150px;
    top: 150px;
    color: white;
}
.num4{
    font-size: 180px;
    height: 200px;
    position: relative;
    right: 970px;
    top: 150px;
    color: white;
}
.num5{
    font-size: 180px;
    height: 200px;
    position: relative;
    right: 780px;
    top: 150px;
    color: white;
}

.num6{
    font-size: 180px;
    height: 200px;
    position: relative;
    right: 600px;
    top: 150px;
    color: rgb(255, 255, 255);
}

.reasons{
    height: 48vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.join{
    font-size: 30px;
    color: white;
    font-weight: 560;
    position: relative;
    left: 130px;
    top: 20px;
}

.box1{
    height: 290px;
    width: 370px;
    background-color: rgb(56, 63, 88);
    position: relative;
    right: 130px;
    top: 100px;
    border-radius: 15px;
}
.box1{
    height: 290px;
    width: 370px;
    background-color: rgb(56, 63, 88);
    position: relative;
    right: 130px;
    top: 100px;
    border-radius: 15px;
    color: white;
}
.box1 .tv{
    font-size: 28px;
    font-weight: 600;
    position: relative;
    top: 10px;
    left: 30px;
}
.box1 .tv1{
    font-size: 20px;
    position: relative;
    top: 50px;
    color: rgb(162, 154, 154);
    left: 30px;
    line-height: 0.4;
}
.ri-tv-2-line{
    font-size: 90px;
    position: relative;
    top: 100px;
    left: 240px;
}
.box2{
    height: 290px;
    width: 370px;
    background-color: rgb(56, 63, 88);
    position: relative;
    right: 130px;
    top: 100px;
    border-radius: 15px;
}
.box2 .tv{
    font-size: 28px;
    font-weight: 600;
    position: relative;
    color: white;
    top: 10px;
    left: 30px;
}
.box2 .tv1{
    font-size: 20px;
    position: relative;
    top: 50px;
    color: rgb(162, 154, 154);
    left: 30px;
    line-height: 0.4;
}
.ri-arrow-down-circle-line{
    font-size: 90px;
    position: relative;
    top: 85px;
    left: 240px;
    color: white;
}
.box3{
    height: 290px;
    width: 370px;
    background-color: rgb(56, 63, 88);
    position: relative;
    right: 130px;
    top: 100px;
    border-radius: 15px;
}
.box3 .tv{
    font-size: 28px;
    font-weight: 600;
    position: relative;
    color: white;
    top: 10px;
    left: 30px;
}
.box3 .tv1{
    font-size: 20px;
    position: relative;
    top: 50px;
    color: rgb(162, 154, 154);
    left: 30px;
    line-height: 0.4;
}
.ri-search-eye-fill{
     font-size: 90px;
    position: relative;
    top: 110px;
    left: 240px;
    color: white;
}
.box4{
    height: 290px;
    width: 370px;
    background-color: rgb(56, 63, 88);
    position: relative;
    right: 130px;
    top: 100px;
    border-radius: 15px;
}

.box4 .tv{
    font-size: 28px;
    font-weight: 600;
    position: relative;
    color: white;
    top: 10px;
    left: 30px;
}
.box4 .tv1{
    font-size: 20px;
    position: relative;
    top: 50px;
    color: rgb(162, 154, 154);
    left: 30px;
    line-height: 0.4;
}

.ri-user-add-fill{
    font-size: 90px;
    position: relative;
    top: 110px;
    left: 240px;
    color: white;
}

.section-3{
    height: 100vh;
    width: 100%;
    display: flex;
}

.ask{
    font-size: 30px;
    font-weight: 600;
    color: white;
    position: relative;
    left: 190px;
    top: 20px;
}

.qustions{
    height: 90px;
    width: 250px;
    background-color: gray;
    position: relative;
    top: 80px;
    right: 150px;
}