*{
    margin-left: 5px;
    padding: 0px;
}

.b-box1{
    height: 350px;
    width: 230px;
    background-color: rgb(244, 240, 240);
    border: 3px solid black;
}

.sale {
     height: 18px;
     width: 43px;
     background-color: rgb(248, 10, 10);
     border-radius: 5px;
     font-size: 14px;
     font-weight: bold;
     text-align: center;
     align-content: center;
     color: white;
     margin-top: 5px;
}
.dis {
     height: 18px;
     width: 43px;
     background-color: rgb(99, 226, 39);
     border-radius: 5px;
     font-size: 14px;
     font-weight: bold;
     text-align: center;
     align-content: center;
     color: white;
     margin-top: 3px;
}

.img1{
    height: 200px;
    width: 200px;
}