*{
    margin-left: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header{
    height: 40vh;
    width: 100%;
    text-align: center;
}
.banner{
    height: 35vh;
    width: 85%;
    text-align: center;
}


.b-box1{
   height:440px;
    width:250px;
    background:rgb(253,250,250);
    border:2px solid black;
    border-color:grey;
    padding-top:20px;
    margin:20px;
    border-radius:15px;
    padding-left:30px;
    text-align:left;
    padding-bottom:50px;
    float:left;
}


.sale {
     height: 18px;
     width: 43px;
     background-color: rgb(248, 10, 10);
     border-radius: 5px;
     font-size: 14px;
     font-weight: bold;
     text-align: center;
     align-content: center;
     color: white;
     margin-top: 5px;
}
.dis {
     height: 18px;
     width: 43px;
     background-color: rgb(54, 156, 6);
     border-radius: 5px;
     font-size: 14px;
     font-weight: bold;
     text-align: center;
     align-content: center;
     color: white;
     margin-top: 3px;
}

.img1{
    height: 220px;
    width: 200px;
    padding-top: 25px;
}

.n-r::first-line{
    font-size: 13px;
    color: rgb(156, 156, 156);
    padding-top: 5px;
}

.n-r{
    font-size: 19px;
    padding-left: 5px;
    padding-top: 15px;
    line-height: 1.6;
}

.pr{
    font-size: 10px;

}
.add{
    height: 25px;
    width: 45px;
    background-color: rgb(18, 191, 18);
    border: none;
    margin-left: 90px;
    padding-top: 10px;
    text-align: center;
    align-content: center;
    padding-bottom: 15px;
    
}

.topbar{
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 5px 10px;
    
}

.sec{
    height: 25px;
    width: 130px;
    margin-left: 800px;
    display: inline;
}

.sec1{
    height: 25px;
    width: 50px;
    display: inline;
}
    
.sale1{
     width: 150px;
}
     
