*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
}



.section{
    height: 85vh;
    width: 100%;
    background-color: rgb(239, 237, 237);
    display: flex;
}

.header{
    height: 150px;
    width: 100%;
    background-color: rgb(48, 47, 85);
    font-size: 45px;
    font-weight: 400px;
    color: white;
    text-align: center;
    align-content: center;
}

.categories{
    height: 85vh;
    width: 270px;
    background-color: white;
    font-size: 20px;
    line-height: 1.8;
    display: flex;
    
    
}

.sec::first-line{
    text-align: left;
    font-size: 35px;
    font-weight: bolder;
    padding: 25px;
    
}

.sec{
    position: absolute;
    left: 20px;
}


.box{
   
    position: relative;
}

.all{
    height: 210px;
    width: 280px;
    border-radius: 4px;
    font-size: 22px;
    font-weight: 600px;
    line-height: 1.3;
    text-align: center;
    align-content: center;
}

.box-1{
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: rgb(244, 253, 137);
    
}

.box-1::first-line{
    font-size: 28px;
    font-weight: bold;
    
}

.box-2{
    position: absolute;
    top: 100px;
    left: 430px;
    background-color: rgb(120, 255, 192)
   
}

.box-2::first-line{
    font-size: 28px;
    font-weight: bold;
}

    
.box-3{
    position: absolute;
    top: 150px;
    left: 830px;
    background-color: rgb(250, 204, 139); 
}

.box-3::first-line{
    font-size: 28px;
    font-weight: bold; 
}
.box-4{
    position: absolute;
    top: 240px;
    left: 1200px;
    background-color: rgb(135, 255, 235); 
}

.box-4::first-line{
    font-size: 28px;
    font-weight: bold; 
}

.buttons{
    height: 70px;
    width: 240px;
    background-color: rgb(48, 47, 85);
    position: fixed;
    right: -10px;
    bottom: -10px;
    border-radius: 8px;
    align-content: center;
    align-items: center;
    
}

.B1{
    height: 35px;
    width: 80px;
    border-radius: 8px;
}
.B2{
    height: 35px;
    width: 80px;
    border-radius: 8px;
}