*{
    margin:0px;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
    
}

body{
    height: 100vh;
    width: 100%;
}

.header{
    width: 110%;
    height: 35vh;
    background-color: rgb(29, 28, 28);
    color: white;
    text-align: center;
    align-content: center;
    
}

.h1{
    font-size: 40px;
    line-height: 2;
}

.profile-header {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    position: relative;
    right: -500px;
}

.profile-card{
    
    height: 220px;
    width: 250px;
    border-radius: 7px;
    background-color: rgb(224, 224, 224);
    float: left;
    margin-top: 5px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    right: 70px;
    top: 20px;

}

.profile-card:hover {
  transform: scale(1.05) rotate(1deg);
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

.img{
    height: 110px;
    width: 120px;
    margin-left: 55px;
    margin-top: 20px;
    border-radius: 100%;
    text-align: center;
    
    
}

.a{
    font-size: 25px;
    width: bold;
    margin-left: 80px;
    margin-top: 10px;
}

.b{
    font-size: 13px;
    margin-left: 58px;
    color: grey;
    
}

.quiz{
     font-size: 22px;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    position: relative;
    top: 250px;
    right: 300px;
}

.flesh{
        width: 250px;
        height: 150px;
        perspective: 1000px;
        display: flex;
       
}

.inner {
        position: relative;
        left: 280px;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
}

.flesh:hover .inner {
     transform: rotateY(180deg);
}

.card-front,
.card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        }

.card-front {
     background: #ffcc00;
     color: #000;
}

.card-back {
        background: #028dce;
        color: rgb(0, 0, 0);
        transform: rotateY(180deg);
}


.section{
    height: 150px;
    width: 100%;
    display: flex;
    position: relative;
    right: 80px;
    left: 100px;
}

.p{
    position: relative;
    top: -60px;
    right: -650px;
    font-size: 30px;
    font-weight: bold;
}

.p1{
    
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 330px;
    left: -100px;
    
}

.button{
   height: 50%;
   width: 100%;
   
}

.slide{
    position: relative;
    top: 380px;
    left: 150px;
    height: 45px;
    width: 160px;
    border-radius: 50px;
    background-color: #028dce;
    border: none;
    color: white;
    font-size: 19px;
    font-weight: 400px;
}

.slide:hover{
    background-color: #026bb0;
    cursor: pointer;
    background: linear-gradient(45deg, #026bb0, #006593);
     transform: scale(1.1);
}

.glow{
    position: relative;
    top: 380px;
    left: 250px;
    height: 45px;
    width: 160px;
    border-radius: 50px;
    background-color: #a537dc;
    border: none;
    color: white;
    font-size: 19px;
    font-weight: 400px;
}

.glow:hover{
    background-color: #026bb0;
    cursor: pointer;
    background: linear-gradient(45deg, #ce8dff, #b366bc, hsl(306, 100%, 82%));
     transform: scale(1.1);
     box-shadow: 0 0 15px hsl(306, 100%, 20%);
}
