*{
    margin:0px;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
    
}

.header{
    width: 100%;
    height: 37vh;
    background-color: rgb(29, 28, 28);
    color: white;
    text-align: center;
    align-content: center;
    
}

.h1{
    font-size: 40px;
    line-height: 2;
}

.profile-header {
    font-size: 22px;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    position: relative;
    right: 500px;
}

.profile-card{
    
    height: 220px;
    width: 250px;
    border-radius: 7px;
    background-color: rgb(224, 224, 224);
    float: left;
    margin: -2px;
    margin-top: 5px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.profile-card:hover {
  transform: scale(1.05) rotate(1deg);
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

.img{
    height: 110px;
    width: 120px;
    margin-left: 55px;
    margin-top: 20px;
    border-radius: 100%;
    text-align: center;
    
    
}

.a{
    font-size: 25px;
    width: bold;
    margin-left: 80px;
    margin-top: 10px;
}

.b{
    font-size: 13px;
    margin-left: 58px;
    color: grey;
    
}

.quiz{
     font-size: 22px;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    position: relative;
    top: 250px;
    right: 300px;
}

.flesh{
        width: 250px;
        height: 150px;
        perspective: 1000px;
        display: flex;
       
}

.inner {
        position: relative;
        left: 280px;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
}

.flesh:hover .inner {
     transform: rotateY(180deg);
}

.card-front,
.card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        }

.card-front {
     background: #ffcc00;
     color: #000;
}

.card-back {
        background: #028dce;
        color: rgb(0, 0, 0);
        transform: rotateY(180deg);
}

.button{
    font-size: 22px;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    position: relative;
    top: 150px;
    right: 350px;
}

.section{
    height: 150px;
    width: 100%;
    display: flex;
    position: relative;
    right: 80px;
    left: 100px;
}

