*{
    box-sizing: border-box;
}

body{
    padding: 10px;
    margin: 10px;
}

.box{
    height: 450px;
    width: 450px;
    background-color: rgb(187, 199, 199);
    padding-left: 25px;
    padding-top: 20px;
}

.inner-box{
    height: 390px;
    width: 390px;
    background-color: blue;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 15px;
   
}
.img{
    height: 350px;
    width: 350px; 
    border-radius: 8px; 
}

.box2{
    height: 550px;
    width: 400px;
    background-color: rgb(190, 187, 187);
    font-size: 30px; 
    padding-left: 60px;


}
.para{
 
    text-align: center;
    background-color: rgb(40, 40, 247);
}

.inner-box-2{
     height: 550px;
    width: 280px;
    background-color: rgb(190, 187, 187);
    border-radius: 20px;
}

.inner-box-3{
    height: 280px;
    width: 280px;
    background-color: aliceblue;
    padding-left: 60px;
    padding-top: 30px;
    border-radius: 10px;

}

.inner-box-4{
    height: 150px;
    width: 150px;
    background-color: blueviolet;
    border-radius: 100px;


}

.img-2{
    height: 150px;
    width: 150px;
    border-radius: 100px;
}
